@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-size: 16px; }

p {
  margin: 0;
  padding: 0; }

/* Font-imports */
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.otf");
  src: local("☺"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype"), url("../fonts/Geometria.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Bold";
  src: url("../fonts/Geometria-Bold.otf");
  src: local("☺"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype"), url("../fonts/Geometria-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Heavy";
  src: url("../fonts/Geometria-Heavy.otf");
  src: local("☺"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype"), url("../fonts/Geometria-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Bold Italic";
  src: url("../fonts/Geometria-BoldItalic.otf");
  src: local("☺"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype"), url("../fonts/Geometria-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Exta Black";
  src: url("../fonts/Geometria-ExtaBlack.otf");
  src: local("☺"), url("../fonts/Geometria-ExtaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtaBlack.woff") format("woff"), url("../fonts/Geometria-ExtaBlack.ttf") format("truetype"), url("../fonts/Geometria-ExtaBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Italic";
  src: url("../fonts/Geometria-Italic.otf");
  src: local("☺"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype"), url("../fonts/Geometria-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geometria Medium";
  src: url("../fonts/Geometria-Medium.otf"); }

@font-face {
  font-family: "Geometria Medium";
  src: url("../fonts/Geometria-Medium.otf");
  src: local("☺"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype"), url("../fonts/Geometria-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/pt-sans.otf");
  src: local("☺"), url("../fonts/pt-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans.woff") format("woff"), url("../fonts/pt-sans.ttf") format("truetype"), url("../fonts/pt-sans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font-variables */
/* Variables */
/* Color head */
/* Headings for each section */
.main-heading--lg {
  font-size: 3rem;
  line-height: 1.1;
  font-family: "Geometria Heavy";
  text-transform: uppercase;
  color: #f58466; }

.main-heading--md {
  text-transform: uppercase;
  color: #f58466;
  font-size: 1rem;
  line-height: 1.5; }

@media screen and (max-width: 680px) {
  .main-heading--lg {
    font-size: 2rem; } }

/* Paragraphs/subheadings for each section */
.main-text {
  font-family: "Geometria";
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000; }
  .main-text--dotted {
    border-style: dotted;
    border-width: 7px;
    font-size: 12px;
    padding: 5px 0;
    margin-bottom: 0;
    border-color: #f58466;
    text-align: center;
    display: inline-block; }
    @media screen and (max-width: 680px) {
      .main-text--dotted {
        display: none !important; } }
  .main-text--white {
    color: #fff; }
  .main-text--bold {
    font-family: "Geometria Bold"; }
  .main-text--extraBold {
    font-family: "Geometria Exta Black"; }
  .main-text--medium {
    font-family: "Geometria Medium"; }
  .main-text--colored {
    color: #f58466; }
  .main-text--underline {
    text-decoration: underline; }
  .main-text--uppercase {
    text-transform: uppercase; }
  .main-text--italic {
    font-family: "Geometria Italic"; }

/* Graphicks template */
/*
	<graphik>
		<title></title>
		<graphik-box>
			<img />
		</graphik-box>
	</graphik>
*/
.grafiks {
  margin: 0 auto 2rem; }
  .grafiks__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .grafiks__wrapper--double div {
      width: 45%; }
  .grafiks img {
    max-width: 100%;
    height: auto; }
  .grafiks__legend {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem; }
    .grafiks__legend li {
      padding-left: 50%;
      text-align: left; }
    .grafiks__legend--around {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .grafiks__legend--around li {
        padding-left: 0; }
    .grafiks__legend--left {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .grafiks__legend--left li {
        padding-left: 10px; }
  .grafiks__box {
    text-align: center;
    max-width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .grafiks__box div {
      margin: 0 auto; }
    .grafiks__box--line {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .grafiks__box--line li {
        padding-left: 10%; }
    .grafiks__box--center {
      margin: 0 auto; }

.legend {
  margin: 1rem 0; }
  .legend__item {
    text-align: left;
    position: relative;
    color: #000;
    font-size: 0.875rem;
    line-height: 1.3; }
    .legend__item:before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -1rem;
      width: 8px;
      height: 8px;
      background-color: #000; }
    .legend__item--blue:before {
      background-color: #1375BC; }
    .legend__item--gray:before {
      background-color: #BABEC1; }
    .legend__item--red:before {
      background-color: #ED1F23; }
    .legend__item--beige:before {
      background-color: #F7AA8E; }
    .legend__item--brown:before {
      background-color: #B98079; }
    .legend__item--darkBrown:before {
      background-color: #A75F5B; }
    .legend__item--darkGray:before {
      background-color: #6E6E71; }
    .legend__item--orange:before {
      background-color: #f58466; }
    .legend__item--rose:before {
      background-color: #F59892; }
    .legend__item--purple:before {
      background-color: #C91D66; }
    .legend__item--browny:before {
      background-color: #913A3B; }
    .legend__item--redDot:before {
      background-color: #ED1F23;
      border-radius: 50%; }

@media screen and (max-width: 680px) {
  .grafiks__box {
    max-width: 100%; } }

/* Posters template */
/*
	<poster>

	</poster>
*/
.poster {
  height: 100vh;
  width: 99.4%;
  margin-bottom: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 580px) {
    .poster {
      max-height: 500px; } }

/* Lists for each section */
.main-ul {
  font-family: "Geometria";
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2rem; }
  .main-ul li {
    position: relative;
    text-align: left;
    margin: 1rem 0 0; }
    .main-ul li:before {
      color: #f58466;
      position: absolute;
      left: -2rem;
      margin-right: 1.5rem; }
  .main-ul--bullet-black li:before {
    content: "•";
    color: #000000; }
  .main-ul--empty {
    padding: 0; }
  .main-ul--empty:before {
    content: ""; }
  .main-ul--bullet li:before {
    content: "•"; }
  .main-ul--dash li:before {
    content: "—"; }
  .main-ul--fscrew li:before {
    content: url("../img/sc2/fscrew.png");
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.main-ol {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  counter-reset: item;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1em;
  line-height: 1.5em; }
  .main-ol li {
    position: relative;
    text-align: left;
    margin: 1rem 0; }
    .main-ol li--ordered {
      position: relative; }
      .main-ol li--ordered:before {
        color: #BC815B;
        content: counter(item) ". ";
        counter-increment: item;
        position: absolute;
        left: -20px; }

/* Reports for each section */
.main-report {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-report__side {
    width: 20%;
    margin-right: 1.875rem;
    text-align: left; }
    .main-report__side--right {
      margin-left: 1.875rem;
      margin-right: 0; }
    .main-report__side--grey {
      -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }
  .main-report__num {
    font-size: 2.25rem;
    font-family: "Geometria Heavy";
    color: #f58466;
    text-align: left; }
    .main-report__num--plus:before {
      content: '+';
      margin-left: -1.5rem; }
    .main-report__num--minus:before {
      content: "-";
      margin-left: -1.5rem; }
    .main-report__num--grey {
      color: #D4D5D6;
      font-size: 9rem;
      text-align: center;
      font-family: "Geometria Heavy"; }
    .main-report__num--big {
      font-size: 10rem;
      font-family: "Geometria Heavy";
      color: #f58466; }
  .main-report__summary {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #000; }
    .main-report__summary--grey {
      font-size: 0.75rem;
      text-align: center;
      font-family: "Geometria Bold";
      border-top: 1px solid; }
  .main-report__main {
    width: 75%; }
  .main-report__main p {
    margin-bottom: 1rem; }

@media screen and (max-width: 580px) {
  .main-report {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-report__num {
      text-align: center; }
    .main-report__side {
      width: auto;
      text-align: center;
      margin-right: 0;
      margin-bottom: 2rem;
      padding-left: 0; }
    .main-report__main {
      width: 100%; } }
