@import "scaffolding";

/* Variables */

$maintextCol: #BC815B;

/* Color head */

$headColor: #f58466;


/* Headings for each section */

.main-heading {
    &--lg {
        font-size: 3rem;
        line-height: 1.1;
        font-family: $geometriaH;
        text-transform: uppercase;
        color: $headColor;
    }

    &--md {
        text-transform: uppercase;
        color: $headColor;
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 680px) {
    .main-heading--lg {
        font-size: 2rem;
    }
}

/* Paragraphs/subheadings for each section */

.main-text {
    font-family: $geometria;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;

    &--dotted {
        border-style: dotted;
        border-width: 7px;
        font-size: 12px;
        padding: 5px 0;
        margin-bottom: 0;
        border-color: $headColor;
        text-align: center;
        display: inline-block;

        @media screen and (max-width: 680px) {
            display: none !important;
        }
    }

    &--white {
        color: #fff;
    }

    &--bold {
        font-family: $geometriaB;
    }

    &--extraBold {
        font-family: $geometriaEB;
    }

    &--medium {
        font-family: $geometriaM;
    }

    &--colored {
        color: $headColor;
    }

    &--underline {
        text-decoration: underline;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--italic {
        font-family: $geometriaI;
    }
}

/* Graphicks template */

/*
	<graphik>
		<title></title>
		<graphik-box>
			<img />
		</graphik-box>
	</graphik>
*/

.grafiks {
    margin: 0 auto 2rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        &--double {
            div {
                width: 45%;
            }
        }
    }

    & img {
        max-width: 100%;
        height: auto;
    }

    &__legend {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        & li {
            padding-left: 50%;
            text-align: left;
        }

        &--around {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            & li {
                padding-left: 0;
            }
        }

        &--left {
            justify-content: flex-start;

            & li {
                padding-left: 10px;
            }
        }
    }

    &__box {
        text-align: center;
        max-width: 90%;
        display: flex;
        flex-direction: column;

        div {
            margin: 0 auto;
        }

        &--line {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            & li {
                padding-left: 10%;
            }
        }

        &--center {
            margin: 0 auto;
        }
    }
}

.legend {
    margin: 1rem 0;

    &__item {
        text-align: left;
        position: relative;
        color: #000;
        font-size: 0.875rem;
        line-height: 1.3;

        &:before {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            left: -1rem;
            width: 8px;
            height: 8px;
            background-color: #000;
        }

        &--blue:before {
            background-color: #1375BC;
        }

        &--gray:before {
            background-color: #BABEC1;
        }

        &--red:before {
            background-color: #ED1F23;
        }

        &--beige:before {
            background-color: #F7AA8E;
        }

        &--brown:before {
            background-color: #B98079;
        }

        &--darkBrown:before {
            background-color: #A75F5B;
        }

        &--darkGray:before {
            background-color: #6E6E71;
        }

        &--orange:before {
            background-color: $headColor;
        }

        &--rose:before {
            background-color: #F59892;
        }

        &--purple:before {
            background-color: #C91D66;
        }

        &--browny:before {
            background-color: #913A3B;
        }

        &--redDot:before {
            background-color: #ED1F23;
            border-radius: 50%;
        }
    }
}



@media screen and (max-width: 680px) {
    .grafiks__box {
        max-width: 100%;
    }
}

/* Posters template */

/*
	<poster>

	</poster>
*/

.poster {
    height: 100vh;
    width: 99.4%;
    //text-align: center;
    margin-bottom: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed;
    @media screen and (max-width: 580px) {
        max-height: 500px;
    }
}

/* Lists for each section */

.main-ul {
    font-family: $geometria;
    list-style: none;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 2rem;

    & li {
        position: relative;
        text-align: left;
        margin: 1rem 0 0;

        &:before {
            color: $headColor;
            position: absolute;
            left: -2rem;
            margin-right: 1.5rem;
        }
    }

    &--bullet-black li:before {
        content: "•";
        color: #000000;
    }

    &--empty {
        padding: 0;
    }

    &--empty:before {
        content: "";
    }

    &--bullet li:before {
        content: "•";
    }

    &--dash li:before {
        content: "—";
    }

    &--fscrew li:before {
        content: url('../img/sc2/fscrew.png'); //background-image??
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.main-ol {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    counter-reset: item;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1em;
    line-height: 1.5em;

    & li {
        position: relative;
        text-align: left;
        margin: 1rem 0;

        &--ordered {
            position: relative;

            &:before {
                color: #BC815B;
                content: counter(item) ". ";
                counter-increment: item;
                position: absolute;
                left: -20px;
            }
        }
    }
}



/* Reports for each section */



.main-report {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;

    &__side {
        width: 20%;
        margin-right: 1.875rem;
        //padding-left: 1.5rem;
        text-align: left;

        &--right {
            margin-left: 1.875rem;
            margin-right: 0;
        }

        &--grey {
            flex-basis: 15%;
        }
    }

    &__num {
        font-size: 2.25rem;
        font-family: $geometriaH;
        color: $headColor;
        text-align: left;

        &--plus:before {
            content: '+';
            margin-left: -1.5rem;
        }

        &--minus:before {
            content: "-";
            margin-left: -1.5rem;
        }

        &--grey {
            color: #D4D5D6;
            font-size: 9rem;
            text-align: center;
            font-family: $geometriaH;
        }

        &--big {
            font-size: 10rem;
            font-family: $geometriaH;
            color: $headColor;
        }
    }

    &__summary {
        font-size: 0.75rem;
        line-height: 1.5;
        color: #000;

        &--grey {
            font-size: 0.75rem;
            text-align: center;
            font-family: $geometriaB;
            border-top: 1px solid;
        }
    }

    &__main {
        width: 75%;
    }

    &__main p {
        margin-bottom: 1rem;
    }
}




@media screen and (max-width: 580px) {
    .main-report {
        flex-direction: column;

        &__num {
            text-align: center;
        }

        &__side {
            width: auto;
            text-align: center;
            margin-right: 0;
            margin-bottom: 2rem;
            padding-left: 0;
        }

        &__main {
            width: 100%;
        }
    }
}
