/* Imports */
@import "mixins";
@import "scaffolding";
@import "global-formating";
/* Global */

body {
    margin: 0 auto;
    font-family: "Geoemtria Bold", Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
}


.iScrollIndicator {
    visibility: visible;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.container {
    @include container;
}

.cont-intersect{
    @include container-intersection;
}

.text-center{
    text-align: center;
}

/* Preloader */

.preloader {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    transition: .5s all;
    opacity: 1;
    visibility: visible;
    
    &.done{
        opacity:0;
        visibility: hidden;
    }
}


.loader{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 10vh;
    height: 10vh;
    animation: 2s loading infinite linear;
}

@keyframes loading {
    0%{
        transform:translate(-50%, -50%) scale(0.95)
    }
    50%{
        transform:translate(-50%, -50%) scale(1)
    }
    100%{
        transform:translate(-50%, -50%) scale(0.95)
    }
}

/* First screen */

.sc-header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 99%;
    max-height: 90px;
    box-sizing: border-box;
    padding: 2vw;
    background-color: #fff;

    &__logo {
        width: 15%;
    }

    &__menu-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3vw;
        height: 1rem;
        padding-left: 40px;
        font-size: 1.125rem;
        line-height: 0.9;
        font-family: $geometriaB;
        background-color: transparent;
        background-image: url('../img/menubtn.svg');
        background-position: left center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .3s ease-in;

        &:hover {
            color: $headColor;
        }

        @media screen and (max-width: 720px) {
            font-size: 0;
        }
    }
}

.sc-welcome {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    justify-content: center;
    position: relative;

    &:before {
        position: absolute;
        left: -22%;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        border: 7vmax solid transparent;
        border-left: 7vmax solid #ef8161;
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__line {
        height: 0.6vmax;
        background-color: #c5c5c5;
        width: 100%;
        margin: 2vmin 0;

        &--bold {
            height: 1vmax;
            margin: 0 0 0.5vmax;
            transition: all 0.3s ease-in;
        }
    }

    &__left {
        width: 41%;
        text-align: left;
        //white-space: pre-wrap;
    }

    &__right {
        width: 50%;
    }

    &__words {

        &--lg {
            max-width: 70%;
        }

        &--md1 {
            max-width: 77%;
        }

        &--md2 {
            max-width: 70%;
        }

        &--md3 {
            max-width: 30%;
        }
    }

    &__logo {
        max-width: 100%;
    }
}

.sc-foot {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    bottom: 0;
    box-sizing: border-box;
    padding: 2vw;
    width: 99%;

    &__copyright {
        font-family: $geometria;
        font-size: 0.825rem;
        margin-right: 4vw;
    }

    &__download {
        position: relative;
        display: block;
        //height: 50px;
        width: 34px;
        //top: 50%;
        //transform: translateY(-50%);
        color: transparent;
        background-image: url('../img/pdf-icon.svg');
        background-size: 32px;
        background-position: center;
        background-repeat: no-repeat;

        &:hover:after {
            color: $headColor;
        }


        &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 22px;
            margin-left: 1.4rem;
            font-family: "Geoemtria Bold", Arial, sans-serif;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color: black;
            white-space: nowrap;
            content: "Скачать в PDF";
            transition: all .3s ease-in;
        }
    }
}

/* Second screen */

.sc-menu {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    text-align: center;
    justify-content: center;
    position: relative;

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        margin-bottom: 1vmin;

        &:hover a {
            color: #414141;
        }

        &:hover .sc-welcome__line {
            background-color: $headColor;
            width: 35% !important;
        }
    }

    &__link {
        font-size: 1.25vmax;
        font-family: $geometriaB;
        color: #000;
        line-height: 1.2;
        text-decoration: none;
        transition: color 0.3s ease-in;
    }

    .flex {
        margin: 2vmin 0;

        &__number {
            width: 100%;
            margin: 0 auto;
        }

        &__left {
            width: 53%;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: flex-start;

            .sc-menu__menu {
                width: 34%;
                text-align: left;

                &:first-child {
                    margin-right: 18%;
                }
            }
        }

        &__end {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            padding: 0;
            margin: 0;

            .sc-menu__menu {
                width: 18%;
                text-align: left;
                margin-left: 6%;
            }
        }

        &__right {
            width: 42%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;

            .sc-menu__menu {
                width: 42%;
                text-align: left;
            }
        }
    }
}

/* Nine Screen (Last) */

.sc-vagon {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    justify-content: center;

    &__train {
        position: relative;
        margin: 0 auto;

        &--wireframe {
            max-width: 100%;
            height: auto;
        }

        &--colored {
            position: absolute;
            top: 0.5%;
            right: 0;
            z-index: 3;
            max-width: 50%;
            height: auto;
        }
    }

    &__rails {
        width: 100vw;
        margin-left: -22%;
    }

    &__schema {
        @include respImg(40%);
        margin: 2% auto 0;
    }
}

.sc-vagon--1 {
    & .sc-vagon__crans {
        position: relative;
        margin: 0 auto;
        max-width: 85%;

        &--telegka {
            position: absolute;
            max-width: 66%;
            height: auto;
            top: -4%;
            left: 1%;
        }

        &--cran {
            max-width: 100%;
        }
    }

    & .sc-vagon__train {

        max-width: 80%;

        &--number {
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            right: 13%;
            z-index: 10;
            width: 25%;
        }
    }
}

.sc-vagon--5 {
    & .sc-vagon__schema {
        @include respImg(75%);
        text-align: left;
        white-space: nowrap;

        & img {
            display: inline-block;
            max-width: 22%;
            height: auto;
            margin-left: -7%;

            &:first-child {
                margin-left: -3%;
            }

            &:last-child {
                margin-left: 25%;
            }
        }
    }
}

.sc-vagon--2 {

    & .sc-vagon__train {
        top: 15%;
        right: 7%;
        max-width: 93%;

        &--depot {
            position: absolute;
            z-index: 10;
            width: 165vw;
            max-width: 2950px;
            left: -59%;
            top: -86%;
        }

        &--wireframe {
        }

        &--colored {
            top: -0.3%;
        }
    }
}

.sc-vagon--3 {
    & .sc-vagon__train {
        &--colored {
            top: -4%;
        }

        &--cran {
            position: absolute;
            top: 5%;
            left: -4%;
            z-index: 3;
            max-width: 50%;
            height: auto;
        }
    }
}

.sc1 {
    .container {
        @include container;
        padding-top: 90px;
        padding-bottom: 90px;

        .sc-main-report__items {
            display: flex;
            justify-content: space-between;

            .sc-main-report__item {
                display: inline-block;
                text-align: justify;
                vertical-align: top;

                &:nth-child(1) {
                    margin-right: 1.875rem;
                }

                &:nth-child(2) {
                    margin-right: 1.875rem;

                    .main-report__summary {
                        width: 133%;
                        transform: translateX(-100px);

                        span {
                            padding-right: 10px;
                        }

                        &:nth-child(1) {
                            margin-top: 29px;
                        }
                    }
                }

                &:nth-child(3) {
                    flex-basis: 20%;
                }

                .sc-main-report {
                    transform: translateY(-19px);

                    .sc-main-report__colortext {
                        position: relative;
                        top: 5px;
                        padding-left: 30px;

                        &--bl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #1375bc;
                            }
                        }

                        &--lbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #bbbec0;
                            }
                        }

                        &--sbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #ed1e24;
                            }
                        }

                        &--dbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #f8aa8f;
                            }
                        }

                        &--fbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #c91d66;
                            }
                        }

                        &--gbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #6e6e71;
                            }
                        }

                        &--hbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #f6821e;
                            }
                        }
                    }
                }
            }
        }

        .sc-main-report__items-img {
            //display: flex;
            //flex-direction: row;
            //flex-wrap: wrap;
            .sc-main-report__item-img {
                //margin-right: 100px;
                width: calc(100%/3 - 2em);
                height: 283px;
                display: inline-block;
                margin-bottom: 39px;

                &:nth-of-type(3) {
                    margin-right: 0;
                }

                .sc-main-report {
                    .sc-main-report__colortext {
                        position: relative;
                        top: 5px;
                        padding-left: 30px;

                        &--bl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #1375bc;
                            }
                        }

                        &--lbl {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 8px;
                                width: 8px;
                                display: block;
                                left: 2px;
                                top: 18%;
                                // top:50%;
                                // transform: translateY(-50%);
                                background: #bbbec0;
                            }
                        }
                    }
                }
            }
        }

        .sc-main-report__diagram {
            width: 90%;
            display: block;
            margin: 37px auto;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }

            .sc-main-report__img {
                max-width: 647px;
                display: block;
                margin: 0 auto;
            }

            .sc-main-report {
                .sc-main-report__colortext {
                    position: relative;
                    top: 5px;
                    padding-left: 30px;

                    &--bl {
                        &::before {
                            position: absolute;
                            content: "";
                            height: 8px;
                            width: 8px;
                            display: block;
                            left: 2px;
                            top: 18%;
                            // top:50%;
                            // transform: translateY(-50%);
                            background: #1375bc;
                        }
                    }

                    &--lbl {
                        &::before {
                            position: absolute;
                            content: "";
                            height: 8px;
                            width: 8px;
                            display: block;
                            left: 2px;
                            top: 18%;
                            // top:50%;
                            // transform: translateY(-50%);
                            background: #bbbec0;
                        }
                    }
                }
            }
        }

        .sc-main-report__center {
            .sc-left-box__items {
                vertical-align: top;
                width: 20%;
                display: inline-block;

                .sc-left-box__item {
                    margin-bottom: 20px;

                    .sc-number {
                        font-family: $geometriaH;
                        font-size: 36px;
                        font-weight: 900;
                        text-align: left;
                        color: #f6af94;
                    }

                    .sc-options {
                        font-family: $geometria;
                        font-size: 12px;
                        line-height: 1.5;
                        text-align: left;
                        color: #000000;
                    }
                }
            }

            .sc-center-box {
                width: calc(75% - 4px);
                display: inline-block;
            }
        }

        .sc1-general-info {
            .sc1-general-info__center-block {
                position: relative;
                @include clearfix;

                .sc1-general-info__left-box {
                    width: 20%;
                    display: inline-block;
                    float: left;
                    position: absolute;
                    top: 43%;
                }

                .sc1-general-info__center-box {
                    width: 75%;
                    display: inline-block;
                    float: right;
                }
            }
        }

        .sc1-busines {
            .sc1-busines__template {
                display: inline-block;
                width: calc(48% - 4px);
                vertical-align: top;

                .sc1-busines__item {
                    margin-bottom: 30px;
                }

                &:last-child {
                    margin-left: 30px;
                }
            }
        }

        .sc1-indicators {
            .sc1-indicators__template {
                .sc1-indicators__item {
                    margin-bottom: 20px;
                }
            }
        }

        .sc1-factors {
            @include clearfix;

            .sc1-factors__list {
                width: 90%;
                float: right;
                list-style: none;

                li {
                    margin-bottom: 15px;
                    @include decorElemHexagon;
                }
            }
        }

        .sc1-key-events {
            @include clearfix;

            .sc1-key-events__center-block {
                width: 100%;
                @include clearfix;

                .sc1-key-events__left-box {
                    width: 20%;
                    display: inline-block;
                    float: left;

                    .sc1-key-events__item {
                        margin-bottom: 20px;
                    }
                }

                .sc1-key-events__right-box {
                    width: calc(80% - 4px);
                    display: inline-block;
                    float: right;
                }
            }

            .sc1-key-events__bloc-center {
                @include clearfix;

                .sc1-key-events__list {
                    display: inline-block;
                    width: 90%;
                    float: right;
                    list-style: none;

                    li {
                        @include decorElemLine;
                    }
                }

                .sc1-key-events__list-point {
                    display: inline-block;
                    width: 90%;
                    float: right;
                    list-style: none;

                    li {
                        @include decorElemPoint;
                    }
                }

                .sc1-key-events__image_title {
                    display: inline-block;
                    width: 25%;
                    max-width: 68px;
                    height: 53px;
                    margin-right: 10px;
                    float: left;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .sc1-key-events__text-block {
                    display: inline-block;
                    width: 75%;
                    float: right;
                    list-style: none;
                }
            }
        }

        .sc1-appeal-directors {
            .sc1-appeal-directors__pfoto {
                max-width: 406px;
                margin: 0 auto;
                height: 406px;
                border: transparent;
                border-radius: 50%;
            }
        }
    }
}


.sc5 {
    .container {
        @include container;
        padding-top: 90px;
        padding-bottom: 90px;

        .sc5-report-result {
            .sc5-report-result__list-item {
                width: 100%;
                @include clearfix;
            }
        }

        .sc5-controls {
            .sc5-controls__center-block {
                width: 100%;

                .sc5-controls__left-box {
                    width: calc(20% - 4px);
                    display: inline-block;
                    vertical-align: top;
                }

                .sc5-controls__right-box {
                    width: calc(80% - 4px);
                    display: inline-block;
                }
            }
        }

        .sc5-meeting-shareholders {
            .sc5-meeting-shareholders__list-item {
                @include clearfix;
            }
        }

        .sc5-meeting-shareholders__table {
            margin-bottom: 30px;
            border-collapse: collapse;

            &--th {
                text-align: center;
                height: 50px;
                border-bottom: 2px solid #f6af94;
                background: #f6af94;

                &:nth-child(odd) {
                    border: 1px solid #fff;
                }
            }

            &--td {
                padding: 5px 15px;
                border-bottom: 1px solid #f6af94;

                &:nth-child(odd) {
                    background: #D4D5D6;
                }
            }
        }

        .sc5-chairman {
            .sc5-chairman__board-directors {
                display: flex;

                .sc5-chairman__bordered {
                    padding: 0.25rem 1rem 1rem;
                    width: 100%;
                    display: inline-block;
                    margin: 0.725rem;
                    border-radius: 10px;
                    text-align: center;
                    border: 2px solid #f6af94;
                    box-sizing: border-box;
                    flex-grow: 0;

                    &:nth-child(1) {
                        box-sizing: border-box;
                    }

                    &:nth-child(2) {
                        flex-basis: 20%;
                        box-sizing: border-box;
                        flex-grow: 0;
                    }
                }

                .sc5-chairman__table {
                    flex-grow: 0;
                    padding: 1.25rem 1rem;
                    margin: 0.725rem;
                    border-radius: 10px;
                    text-align: center;

                    .td--grey {
                        flex-basis: 15%;
                        padding: 1.25rem 1rem;
                        display: inline-block;
                        margin: 0.725rem;
                        border-radius: 10px;
                        text-align: center;
                        border: 2px solid #f6af94;
                        box-sizing: border-box;
                        background-color: #CCCCCC;
                    }
                }
            }
        }

        .sc5-composition-board {
            .sc5-composition-board__items {
                .sc5-composition-board__item {
                    margin-bottom: 80px;
                    vertical-align: middle;
                    height: 100%;

                    .photo {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        //background-image: url('../img/sc1/foto-2.png');
                        display: inline-block;
                    }

                    .name {
                        display: inline-block;
                        padding-left: 50px;
                        height: auto;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .sc5-biography {
            .sc5-biography__items {
                width: 100%;
                display: inline-block;

                .sc5-biography__item {
                    vertical-align: top;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }

        .sc5-participation {
            @include clearfix;

            .sc5-participation__table {
                font-family: $geometria;
                border-collapse: collapse;
                margin-bottom: 2rem;
                float: right;

                .table__head {
                    text-align: center;
                }
            }
        }

        .sc5-participation-diagram {
            @include clearfix;

            img {
                text-align: center;
            }

            .sc-main-report {
                transform: translateY(-19px);
                display: inline-block;
                float: right;

                .sc-main-report__colortext {
                    position: relative;
                    display: inline-block;
                    top: 5px;
                    padding-left: 30px;

                    &--lbl {
                        &::before {
                            position: absolute;
                            content: "";
                            height: 8px;
                            width: 8px;
                            display: block;
                            left: 2px;
                            top: 18%;
                            background: #bbbec0;
                        }
                    }

                    &--dbl {
                        &::before {
                            position: absolute;
                            content: "";
                            height: 8px;
                            width: 8px;
                            display: block;
                            left: 2px;
                            top: 18%;
                            background: #f8aa8f;
                        }
                    }
                }
            }
        }

        .sc5-list-document {
            &__table {
                border-collapse: collapse;

                &--th {
                    height: 100px;
                    border-bottom: 1px solid #f6af94;
                    background: #f6af94;
                    border: #fff;

                    &:nth-child(odd) {
                        border: 1px solid #fff;
                    }
                }

                &--td {
                    padding: 20px;
                    border-bottom: 1px solid #f6af94;

                    &:nth-child(odd) {
                        background: #D4D5D6;
                    }
                }
            }
        }


        .sc5-committe-table {
            @include clearfix;

            table {
                width: 80%;
                float: right;
                text-align: center;

                .td {
                    &--no-borderL {
                        white-space: nowrap;
                    }
                }
            }
        }

        .sc5-reward {
            width: 100%;

            .clearfix {
                @include clearfix;

                .text-left {
                    width: 80%;
                    float: right;
                }
            }

            .sc5-reward__table {
                font-family: $geometria;
                border-collapse: collapse;
                width: 100%;

                tr {
                    td {
                        border-bottom: 1px solid #f58466;
                        border-right: none;
                        padding: 5px 10px;

                        &:last-child {
                            text-align: right;
                        }

                        &:first-child {
                            text-align: left;
                        }
                    }

                    th {
                        padding: 5px 10px;

                        &:last-child {
                            text-align: right;
                        }

                        &:first-child,
                        &:nth-child(2) {
                            text-align: left;
                        }
                    }
                }
            }
        }

        .sc5-executive-body {
            .sc5-executive-body__photo {
                text-align: center;
                width: 370px;
                margin: 0 auto;

                .photo {
                    width: 406px;
                    max-width: 100%;
                    height: 406px;
                    border-radius: 50%;
                    margin: 0 auto 50px;
                }

                .name {
                    font-size: 40px;
                    line-height: 52px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                .lastname {
                    font-size: 32px;
                    line-height: 52px;
                    margin-bottom: 15px;
                    display: block;
                    border-bottom: 2px solid;
                }
            }
        }

        .sc5-sector-corporate-governance {
            .sc5-sector-corporate-governance__block-center {
                @include clearfix;

                .block-left {
                    width: 20%;
                    display: inline-block;
                }

                .block-right {
                    width: 80%;
                    float: right;
                    display: inline-block;
                }
            }
        }

        .sc5-control-authorities {
            .sc5-control-authorities__block-center {
                margin-bottom: 20px;
                @include clearfix;
            }

            table {
                width: 100%;

                tr {
                    font-size: 16px;
                    font-weight: normal;
                    font-family: $geometria;
                    border-bottom: 1px solid #f6af94;

                    &:last-child {
                        background-color: #ccc;
                        border-bottom: none;
                    }

                    th {
                        text-align: center;
                        border-bottom: 1px solid #f6af94;
                        background: #f6af94;
                        border: #f6af94;
                        border-collapse: collapse;
                        padding: 5px;
                        border-bottom: 1px solid #f6af94;

                        &:last-child {
                            text-align: right;
                        }
                    }

                    td {
                        padding: 5px;
                        border-bottom: 1px solid #f6af94;

                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .sc5-information-shareholders {

            table {
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 20px;

                thead {
                    tr {
                        background: #f6af94;
                        border-right: #f6af94;
                        font-family: $geometriaB;

                        th {
                            text-align: left;
                            padding: 10px;
                        }
                    }
                }

                tbody {
                    font-family: $geometria;

                    tr {
                        border-bottom: 0;
                        border-left: 0;

                        td {
                            padding: 5px 10px;
                            border-right: #f6af94;
                        }
                    }
                }
            }
        }

        .sc5-information-shareholders__diargam {
            .main-report {
                .main-report__main {
                    .sc-main-report {
                        transform: translateY(-19px);

                        .sc-main-report__colortext {
                            position: relative;
                            top: 5px;
                            padding-left: 30px;

                            &--bl {
                                &::before {
                                    position: absolute;
                                    content: "";
                                    height: 8px;
                                    width: 8px;
                                    display: block;
                                    left: 2px;
                                    top: 18%;
                                    background: #1375bc;
                                }
                            }

                            &--lbl {
                                &::before {
                                    position: absolute;
                                    content: "";
                                    height: 8px;
                                    width: 8px;
                                    display: block;
                                    left: 2px;
                                    top: 18%;
                                    background: #bbbec0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sc5-distribution-profits {
            margin-bottom: 20px;
            line-height: 20px;

            .sc5-distribution__block-center {
                @include clearfix;

                table {
                    width: 100%;
                }
            }
        }

        .sc5-disclosure {
            margin-bottom: 20px;
            line-height: 20px;

            a {
                color: #f6af94;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .sc1 {
        .container {
            .sc1-busines {
                .sc1-busines__template {
                    width: 100%;
                    display: block;
                    text-align: center;

                    &:last-child {
                        margin-left: 0;
                    }

                    .sc1-busines__item {
                        padding: 5px;
                    }
                }
            }
        }
    }

    .sc5 {
        .container {
            .sc5-composition-board {
                .sc5-composition-board__items {
                    .sc5-composition-board__item {
                        text-align: center;

                        .name {
                            display: block;
                            padding-left: 0;
                        }
                    }
                }
            }

            .sc5-biography {
                .sc5-biography__items {
                    width: 100%;
                }
            }

            .sc5-reward {
                .text-left {
                    width: 100%;
                }
            }


            .sc5-chairman {
                .sc5-chairman__board-directors {
                    .sc5-chairman__bordered {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.sc2 {
    &__heading {
        font-size: 3em;
        font-family: $geometriaH;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-align: left;
        color: #BC815B;
    }

    .container {
        padding-top: 90px;
    }
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: left;
  &__statheader{
    font-family: $geometriaH;
    font-size: 2.25em;
    display: block;
    color: #BC815B;
  }
  &__statinfo{
    font-family:$geometria;
    font-size: 0.75em;
  }
}

.sc2strat {
  display: flex;
  align-items:top;
  justify-content: space-between;
  &__stat{
    width: 20%;
  }
  &__text{
    font-family:$geometria;
    width: 80%;
  }
}

.sc2main{
  &__heading{
    text-transform: uppercase;
    color: #BC815B;
    margin-bottom:5px;
    font-size: 1em;
    &--nm{
      text-transform: none;
    }
  }
  &__text{
    font-family:$geometria;
    margin-top:25px;
    margin-bottom:25px;
    font-size: 1em;
    line-height: 1.5em;
    &--medium{
      font-family: $geometriaM;
      font-size: 1em;
      line-height: 1.5em;
    }
    &--underline{
      text-decoration: underline;
      font-size: 1em;
      line-height: 1.5em;
    }
    &--italic{
      font-family: $geometriaI;
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  &__graf{
    display: block;
    margin: 20px auto;
    height: 500px;
  }

  &__list{
    font-family:$geometria;
    list-style: none;
    font-size: 1em;
    line-height: 1.5em;
  }
  &__orderedlist {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    counter-reset: item;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1em;
      line-height: 1.5em;
     & li {
      display: block;
    }
  }
  &__listitem{
    text-align: left;
    margin-top:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    //white-space: pre-wrap;
    &--bullet{
      position: relative;
      &:before{
        color:#BC815B;
        content:  "•";
        position: absolute;
        left:     -20px;
      }
    }
    &--ordered {
      position: relative;
      &:before {
        color: #BC815B;
        content: counter(item) ". ";
        counter-increment: item;
        position: absolute;
        left: -20px;
      }
    }
    &--dash{
      position: relative;
        &:before{
          color:#BC815B;
          content:  "—";
          position: absolute;
          left:     -20px;
      }
    }
    &--fscrew {
      position: relative;
      &:before{
        color:#BC815B;
        content: url('../img/sc2/fscrew.svg');
        width: 20px;
        position: absolute;
        left:     -50px;
        top:50%;
        transform: translateY(-50%);
      }
    }
    &--heading{
      color:#BC815B;
      font-family: $geometriaB;
    }
    &--desc{
      font-family: $geometriaB;
      margin-bottom: 30px;
    }
  }
}

.sc2strattarget{
  background: url("../img/sc2/targetBg.svg");
  background-size: 600px;
  background-position-x: 50%;
  background-position-y: 1%;
  background-repeat: no-repeat;
  &__heading{
    padding-top:200px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: $geometriaB;
    color: #AFB0B2;
    }
}

.radial{
    display: flex;
    flex-direction: column;
    &__item{
        display: flex;
        & ul{
            width: 50%;
        }
        & ol{
            width: 50%;
        }
    }
    .radial__capture{
        list-style: none;
        &--z1{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #535fa5;
            }
        }
        &--z2{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #afb0b2;
            }
        }
        &--z3{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #a54525 ;
            }
        }
        &--z4{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #cca483;
            }
        }
        &--z5{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #8a3b51;
            }
        }
        &--z6{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #5b5b5d;
            }
        }
        &--z7{
            position: relative;
            &:before{
                position: absolute;
                top:50%;
                left: -20px;
                transform: translateY(-50%);
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background: #b97f32;
            }
        }
    }
}

.grafiks__box {
    text-align: left;
    color: #AFB0B2;
    text-align: center;

    &__scheme {
        display: flex;
        flex-direction: column;
    }
}

.main-reporttarget__shart{
    width: 100%;
}

.scheme{
  &__line{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &__item{
    box-sizing: border-box;
    padding: 5px;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: $geometriaB;
    &--header{
      width: 20%;
      background: #BC815B;

    }
    &--financials{
      width: 20%;
      background: #CCA483;
    }
    &--clients{
      width: 20%;
      background: #C59383;
    }
    &--actives{
      width: 20%;
      background: #A54525;
    }
    &--processes{
      width: 20%;
      background: #535FA5;
    }
    &--development{
      width: 20%;
      background: #D4D5D6;
    }
  }
}

.sc2sops{
  &__table {
    margin: 50px auto;
    border-collapse: collapse;
    &--td {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #BC815B;
      }
    }
    &__listheading {
      margin-top: 50px;
      margin-bottom: 0;
    }
  }

.sc2investvaste{
  &__table {
    border-collapse: collapse;
    &--th {
      height: 100px;
      border-bottom: 1px solid #BC815B;
        &:nth-child(odd) {
          background: #BC815B;
          }
        &:nth-child(even) {
          background: #CCA483;
          }
        }
        &--rotate {
          display: table;
          transform: rotate(-90deg);
        }
        &--td {
          padding: 20px;
          border-bottom: 1px solid #BC815B;
          &:nth-child(odd) {
            background: #D4D5D6; }
        }
    }
}

.sc2investperspect {
  &__img{
    width: 100%;
  }
}

.sc2businessmodel {
  &__heading{
    display: inline-block;
  }
  &__subheading{
    display: inline-block;
  }
  & img{
    width: 100%;
  }
}

.sc2marketoverview {
  &__strat{
    margin-top:20px;
    margin-bottom: 20px;
  }

  &__graf{
    margin: 0 auto;
    display: block;
    width: 1000px;
  }

  &__listcontainer{
    display: flex;
    flex-direction: row;
  }
  &__list{
    margin: 0;
  }
  &__table {
    margin-bottom:30px;
    border-collapse: collapse;
    &--th {
      text-align: center;
      height: 50px;
      border-bottom: 1px solid #bc815b;
        &:nth-child(even) {
          background: #bc815b;
          }
        &:nth-child(odd) {
          background: #cca483;
          }
        }
        &--td {
          padding: 5px 15px;
          border-bottom: 1px solid #bc815b;
          &:nth-child(even) {
            background: #d4d5d6; }
        }
    }
}

.sc2risccontroll{
  &__numrow{
    display: flex;
    flex-direction: row;
  }
  &__image{
    margin: 50px auto;
    width: 100%;
  }

  &__numblock{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
   &--number{
     color: #D4D5D6;
      width: 100%;
      text-align: center;
      font-size: 200px;
      &:after{
        display: block;
        margin: 0 auto;
        content: "";
        width:200px;
        height: 2px;
        margin-bottom: 20px;
        background: black;
      }
    }
   &--text{
    width: 100%;
    }
  }
  &__heading{
    margin: 40px auto;
  }
  &__ddtext{
    position: relative;
    &--br{
      &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        display: block;
        left: -20px;
        top:50%;
        transform: translateY(-50%);
        background: #A54525;
      }
    }
    &--lbr{
      &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        display: block;
        left: -20px;
        top:50%;
        transform: translateY(-50%);
        background: #CCA483;
      }
    }
    &--lb{
      &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        display: block;
        left: -20px;
        top:50%;
        transform: translateY(-50%);
        background: #D4D5D6;
      }
    }
    &--bl{
      &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        display: block;
        left: -20px;
        top:50%;
        transform: translateY(-50%);
        background: #535FA5;
      }
    }
  }
  &__table{
    margin: 0 auto;
    width: 100%;
    max-width: 83%;
    border-collapse: collapse;
    font-family:$geometria;
    &--capture{
      margin: 50px auto;
      max-width: 83%;
      display: flex;
      justify-content: space-between;
    }
    &--fixed{
      display: block;
      overflow: hidden;
      height: 15px;
    }
    &--translate {
      position: absolute;
      display: block;
      top:50%;
      left: 50%;
      transform: translate(-50% ,-50%);
      & span{
        display: block;
        transform: rotate(-90deg)
      }
    }
    &--card{
      border: 1px solid black;
      max-width: 83%;
      table-layout: fixed;


      & th{
        position: relative;
        width: 15px;
        text-align: center;
        border: 1px solid black;
      }
      & td{
        padding: 0;
        height: 49px;
        width: 30px;
        border: 1px solid white;
      }
    }
    &--td{
      text-align: center;
      padding: 40px 10px;
      border: 1px solid white;
      &-last{
        height: 200px;
      }
      &-bl{
        background: #535FA5;
        color:white;
      }
      &-lb{
        background: #d4d5d6;
        color:black;
      }
      &-lbr{
        background: #cca483;
        color:black;
      }
      &-br{
        background: #535fa5;
        color:white;
      }
    }
  }
}

.grafik-poster{
    display: block;
    margin: 40px auto;
    width: 83%;
    &--full{
        width: 100%;
    }
}

.sc2clientpolitics{
  &__nestedul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__nestedli{
    margin: 0;
    padding-top: 10px;
  }
  &__vareks{
    padding-left: 174px;
    position: relative;
    &:before{
      content: url('../img/sc2/vareks.png');
      position: absolute;
      left: 0;
    }
  }
  &__end{
    margin: 50px auto;
    width: 100%;
  }

}
.sc__poster {
  height: 100vh;
  width: 99vw;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &-sc2-1{
    background-image: url('../img/sc2/workingprogress1.jpg');
  }
  &-ap-1{
    background-image: url('../img/appendix/fp.jpg');
  }

}
/* CONTENT3 */
.sc-3 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: $geometria;

    & .container {
        max-width: 910px;
        margin: 3vw auto;
        padding: 0 10px;
    }
}


.grafiks__title--composite {
    display: flex;
    justify-content: space-between;

    & h4:first-child {
        margin-right: 6rem;
    }
}

.sc-3__table {
    font-family: "PTSans sans-serif";
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.sc-3__table td {
    border: 1px solid #f58466;
    border-right: none;
    border-bottom: none;
    padding: 1rem 1.25rem;
}

@media screen and (max-width: 680px) {
    .sc-3__table td {
        font-size: 0.8rem;
    }
}

.sc-3__table--3 {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}

@media screen and (max-width: 980px) {
    .sc-3__table--3 {
        flex-direction: column;
    }
}

.sc-3__table--3 .td {
    flex-basis: 15%;
    flex-grow: 0;
    padding: 1.25rem 1rem;
    margin: 0.725rem;
    border-radius: 10px;
    text-align: center;
}

.sc-3__table .td--no-border {
    border: none;
}

.sc-3__table .td--no-borderL {
    border-left: none;
}

.sc-3__table .td--fillG {
    background-color: #dbddde;
}

.sc-3__table .table__head {
    text-align: center;
}

.sc-3__table .td--reverse {
    writing-mode: tb-rl;
    background-color: #f8aa8f;
}

.sc-3__table .td--filled {
    background-color: #f58365;
}

.sc-3__table .td--filled-br {
    background-color: #f8aa8f;
}

.sc-3__table .td--br {
    color: #f58365;
}

.sc-3__table .td--fillGG {
    background-color: #bbbebf;
}

.sc-3__table--2 td {
    border-left: none;
}


.content-3__poster-1 {
    background-image: url('../img/content3/poster1.jpg');
}

.content-4__poster-1 {
    background-image: url('../img/content4/poster1.jpg');
}

.content-4__poster-2 {
    background-image: url('../img/content4/poster2.jpg');
}

/*.content-6__poster-1 {
    background-image: url('../img/content6/poster1.jpg');
}*/

.bordered {
    padding: 1.25rem 1rem;
    margin: 0.725rem;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #f6af94;
}


/* APPENDIX */

.appendix{
    
  .container {
      padding-top: 50px;
  }

  &__photo{
    width: 100%;
  }
  &__photocont{
    width: 100%;
    margin-bottom: 2rem;
    & img{
      width: 50%;
      height: 50%;
    }
  }
  &__aud{
    margin-top:50px;
    &--header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    &--heading{
      margin-top:40px;
      margin-bottom:40px;
    }
    &--footer{
      margin-top:50px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  &__codes{
    width: 100%;
    margin-top:100px;
    font-family: $geometria;
    border-collapse: collapse;
    & td{
      border-bottom: 1px solid #BC815B;
      &:nth-child(even){
        padding: 10px;
        background: #d4d5d6;
      }
    }
  }
  &__main{
    width: 100%;
    margin-top:100px;
    font-family: $geometria;
    border-collapse: collapse;

    &sm{
      width: 100%;
      margin-top:100px;
      font-family: $geometria;
      border-collapse: collapse;
      &--headerbg{
        background: #cca483;
        border-top:2px solid white;
        border-bottom:2px solid white;
      }
      & th{
        border-left: 2px solid white;
        padding-top:40px;
        padding-bottom: 40px;
        &:nth-child(even){
          background: #bc815b;
        }
        &:nth-child(odd){
          background: #CCA483;
        }
      }
      & td{
        &:first-child{
          text-align: left;
        }
        text-align: center;
        padding: 10px;
        &:nth-child(even){
          background: #D4D5D6;
        }
      }
      &--borderbot{
        border-bottom: 2px solid #D4D5D6;
        &-gr{
          border-bottom: 2px solid #5B5B5D;
        }
        &-br{
          border-bottom: 2px solid #BC815B;
        }
      }
    }
    &--wt{
      background: white;
    }
    &--textcol{
      &-br{
        color: #BC815B;
      }
    }
    &--gr{
      background: #D4D5D6;
    }
    &--dgr{
        background: #AFB0B2;
    }
    &--rotate{
      display: block;
      text-align: center;
      transform: rotate(-90deg);
    }
    &--headernobg{
      padding-top:15px;
      padding-bottom: 15px;
    }
    &--headerbg{
      text-align: center;
      background: #CCA483;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      padding-top:15px;
      padding-bottom: 15px;
      & span {
        color: white;
      }
    }
    & th{
      border-left: 2px solid white;
      padding-top:40px;
      padding-bottom: 40px;
      &:nth-child(even){
        background: #CCA483;
      }
      &:nth-child(odd){
        background: #BC815B;
      }
    }
    &--left{
      padding: 10px;
      text-align: left;
    }
    &--center{
      padding: 10px;
      text-align: center;
    }
    &--right{
      padding: 10px;
      text-align: right;
    }
    &--borderbot{
      border-bottom: 2px solid #D4D5D6;
      &-gr{
        border-bottom: 2px solid #5B5B5D;
      }
      &-br{
        border-bottom: 2px solid #BC815B;
      }
    }
  }
}

.inlinepadding{
  padding-left: 10%;
  padding-right: 10%;
}

.beforelabel{
  position: relative;
  &:before{
    display: block;
    content: "КОДЫ";
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #CCA483;
    position: absolute;
    top:-40px;
  }
}


/* Media */


  /* Fist screen */

  /* Second screen */

  /* Third screen */
